/* link to Google fonts to allow browsers to access fonts, instructions for using them */

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&family=Roboto&display=swap");

/*
font-family: 'Bebas Neue', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
*/

/* Sets all elements within the html file to border-box sizing */
* {
  box-sizing: border-box;
}
/* ELEMENT SELECTORS */
body {
  background-color: #e8e2db;
}

header,
footer {
  background-color: #1a3263;
}

header {
  margin-bottom: 10px;
}

footer {
  padding-top: 20px;
}

header h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 45px;
  letter-spacing: 0.1em;
  margin: 0;
  color: #e8e2db;
  padding-top: 20px;
  text-align: center;
}


header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 0;
  padding-right: 20px;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #e8e2db;
  padding: 0 20px 0 0;
  font-family: 'Poppins', sans-serif;
}

/* PSEUDO CLASS SELECTORS FOR NAVIGATION MENU */

header nav ul li a:link {color: #e8e2db;}

header nav ul li a:visited {color: grey;}

h2 {
  font-family: "Bebas Neue", cursive;
  font-size: 30px;
  margin: 0;
}

h3 {
  font-family: 'Poppins', sans-serif;
}

p {
  display: block;
  font-family: 'Roboto', sans-serif;
}

footer p {
  font-size: 20px;
  margin: 0;
  color: #e8e2db;
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: center;
}

img {
  border-radius: 10px;
  width: 100%;
}

iframe {
  width: 100%;
  height: 250px;
}
/* CLASS SELECTORS */
/* MOBILE FIRST DESIGN */
.wrapper {
  width: 100%;
}

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
  margin: 10px;
}
/* PSEUDO CLASS SELECTORS (LOVE HATE NMEUMONIC) */
a:link {
  text-decoration: none;
  color: #1a3263;
}
a:visited {
  color: darkviolet;
}
a:hover {
  text-decoration: underline;
}
a:active {
  color: #f5564e;
}

form label {
  /* ENSURES THAT TEXTAREA WILL BE DISPLAYED BELOW LABEL */
  display: block;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 15px;
}
/* ENSURES THAT INPUT AND TEXTAREA TAKE UP THE WIDTH OF THEIR CONTAINER */
form input, form textarea {
  width: 100%;
  border-radius: 5px;
}

form textarea {
  height: 5rem;;
}
/* CHANGES BUTTON APPEARANCE */
button {
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
}
/* ID SELECTORS */

#portfolio h2 {
  text-align: center;
  padding-top: 50px;
  font-size: 40px;
  padding-bottom: 20px;
}

#about {
  background-color: #f5564e;
}

#intro {
  padding-bottom: 50px;
}

#contact {
  padding: 20px 0;
}
/* MOBILE FIRST BASED MEDIA QUERY */
/* RULES ARE ONLY EXECUTED IF WIDTH OF VIEWPORT IS > 600PX */

@media all and (min-width: 600px) {
  .wrapper {
    width: 70%;
    margin: auto;
  }

  .group {
    flex-direction: row;
  }

  header {
    display: flex;
    justify-content: space-between;
  }

  header h1 {
    margin-left: 75px;
    font-size: 52px;
    padding-bottom: 20px;
  }

  header nav {
    margin-top: 20px;
  }

  header nav ul li a {
    font-size: 22px;
  }

  header nav ul li a:visited{
    color: grey;
  }
}
